<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>쇼핑-n팀</title>
    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/elice-rabbit-favicon.png"
    />
    <!-- bulma css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
    ></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="booklist.css" />
    <script src="booklist.js" type="module" defer></script>
  </head>
  <body>
<!-- booklist -->

<div class="book_container">
    <h1>소설</h1>
    <div class="bookList">
        <div class="bookCheck"><input type="checkbox"></div>
    
        <div class="bookImg"><a href="/bookdetail"><img></a></div>
    
        <div class="bookInfo">
            <div class="bookTitle"><span><a href="/bookdetail"></a></span></div>
            <div class="bookAuthor"><span></span></div>
            <div class="bookPrice"><span></span></div>
            <div class="bookDescription"><span></span></div>
            <!-- <div class="bookRate"><span>9.7 / 10</span></div> -->
        </div>
    
        <div class="bookBuy">
            <div class="buyBtn"><a href="/order"><input id="buyBtn" type="button" value="구매하기"></a></div>
            <div class="cartBtn"><a href="/cart"><input id="cartBtn" type="button" value="장바구니"></a></div>
            <!-- <div class="heartBtn"><input id="heartBtn" type="button" value="찜하기"></div> -->
        </div>
    </div>
    <div class="bookList">
        <div class="bookCheck"><input type="checkbox"></div>
    
        <div class="bookImg"><a href="/bookdetail"><img src="https://image.aladin.co.kr/product/29445/74/cover500/k692837627_1.jpg" alt="책1"></a></div>
    
        <div class="bookInfo">
            <div class="bookTitle"><span><a href="/bookdetail">작별인사</a></span></div>
            <div class="bookAuthor"><span>김영하</span></div>
            <div class="bookPrice"><span>12,600원</span></div>
            <div class="bookDescription"><span>김영하가 『살인자의 기억법』 이후 9 년 만에 내놓는 장편소설 『작별인사』는 그리 멀지 않은 미래를 배경으로, 별안간 삶이 송두리째 뒤흔들린 한 소년의 여정을 좇는다. 유명한 IT 기업의 연구원인 아버지와</span></div>
            <!-- <div class="bookRate"><span>9.7 / 10</span></div> -->
        </div>
    
        <div class="bookBuy">
            <div class="buyBtn"><a href="/order"><input id="buyBtn" type="button" value="구매하기"></a></div>
            <div class="cartBtn"><a href="/cart"><input id="cartBtn" type="button" value="장바구니"></a></div>
            <!-- <div class="heartBtn"><input id="heartBtn" type="button" value="찜하기"></div> -->
        </div>
    </div>
    <div class="bookList">
        <div class="bookCheck"><input type="checkbox"></div>
    
        <div class="bookImg"><a href="/bookdetail"><img src="https://image.aladin.co.kr/product/29445/74/cover500/k692837627_1.jpg" alt="책1"></a></div>
    
        <div class="bookInfo">
            <div class="bookTitle"><span><a href="/bookdetail">작별인사</a></span></div>
            <div class="bookAuthor"><span>김영하</span></div>
            <div class="bookPrice"><span>12,600원</span></div>
            <div class="bookDescription"><span>김영하가 『살인자의 기억법』 이후 9 년 만에 내놓는 장편소설 『작별인사』는 그리 멀지 않은 미래를 배경으로, 별안간 삶이 송두리째 뒤흔들린 한 소년의 여정을 좇는다. 유명한 IT 기업의 연구원인 아버지와</span></div>
            <!-- <div class="bookRate"><span>9.7 / 10</span></div> -->
        </div>
    
        <div class="bookBuy">
            <div class="buyBtn"><a href="/order"><input id="buyBtn" type="button" value="구매하기"></a></div>
            <div class="cartBtn"><a href="/cart"><input id="cartBtn" type="button" value="장바구니"></a></div>
            <!-- <div class="heartBtn"><input id="heartBtn" type="button" value="찜하기"></div> -->
        </div>
    </div>
    <div class="bookList">
        <div class="bookCheck"><input type="checkbox"></div>
    
        <div class="bookImg"><a href="/bookdetail"><img src="https://image.aladin.co.kr/product/29445/74/cover500/k692837627_1.jpg" alt="책1"></a></div>
    
        <div class="bookInfo">
            <div class="bookTitle"><span><a href="/bookdetail">작별인사</a></span></div>
            <div class="bookAuthor"><span>김영하</span></div>
            <div class="bookPrice"><span>12,600원</span></div>
            <div class="bookDescription"><span>김영하가 『살인자의 기억법』 이후 9 년 만에 내놓는 장편소설 『작별인사』는 그리 멀지 않은 미래를 배경으로, 별안간 삶이 송두리째 뒤흔들린 한 소년의 여정을 좇는다. 유명한 IT 기업의 연구원인 아버지와</span></div>
            <!-- <div class="bookRate"><span>9.7 / 10</span></div> -->
        </div>
    
        <div class="bookBuy">
            <div class="buyBtn"><a href="/order"><input id="buyBtn" type="button" value="구매하기"></a></div>
            <div class="cartBtn"><a href="/cart"><input id="cartBtn" type="button" value="장바구니"></a></div>
            <!-- <div class="heartBtn"><input id="heartBtn" type="button" value="찜하기"></div> -->
        </div>
    </div>
    <div class="bookList">
        <div class="bookCheck"><input type="checkbox"></div>
    
        <div class="bookImg"><a href="/bookdetail"><img src="https://image.aladin.co.kr/product/29445/74/cover500/k692837627_1.jpg" alt="책1"></a></div>
    
        <div class="bookInfo">
            <div class="bookTitle"><span><a href="/bookdetail">작별인사</a></span></div>
            <div class="bookAuthor"><span>김영하</span></div>
            <div class="bookPrice"><span>12,600원</span></div>
            <div class="bookDescription"><span>김영하가 『살인자의 기억법』 이후 9 년 만에 내놓는 장편소설 『작별인사』는 그리 멀지 않은 미래를 배경으로, 별안간 삶이 송두리째 뒤흔들린 한 소년의 여정을 좇는다. 유명한 IT 기업의 연구원인 아버지와</span></div>
            <!-- <div class="bookRate"><span>9.7 / 10</span></div> -->
        </div>
    
        <div class="bookBuy">
            <div class="buyBtn"><a href="/order"><input id="buyBtn" type="button" value="구매하기"></a></div>
            <div class="cartBtn"><a href="/cart"><input id="cartBtn" type="button" value="장바구니"></a></div>
            <!-- <div class="heartBtn"><input id="heartBtn" type="button" value="찜하기"></div> -->
        </div>
    </div>
</div>






</body>
</html>
