<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>쇼핑-7팀</title>
    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../elice-rabbit-favicon.png"
    />
    <!-- bulma css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
    ></script>

    <!-- 커스텀 css, js -->
    <script defer src="./footer.js" type="module"></script>
    <link rel="stylesheet" href="./footer.css" />
  </head>
  <body>
    <!-- footer  -->
    <!-- <div class="first">
      <a href="#">Index</a>
      <nav>
        <a href="www.google.co.kr" target="_blank">구글</a>
        <a href="https://swtrack.lms.elice.io/" target="_blank">엘리스</a>
      </nav>
      <p>
        <span>작성자: 7조</span>
        <span>연락처: 010-1234-5678</span>
        <span>저작권</span>
      </p>
    </div>
    <div class="second">
      <div>
        <h1>FOOTER ELEMENT</h1>
        <h2>FOOTER ELEMENT 2</h2>
        <h3>FOOTER ELEMENT 3</h3>
        <p>Copyright @2022 엘리스 소프트웨어</p>
      </div>
      <a href="#">Index</a>
      <p>Copyright @2022 Elice SWtrack - #7</p>
      <address></address>
    </div> -->
  </body>
</html>
