/* 이 파일에서 25일날 수정할 부분 .dropdown, .scroll_btn, #top_btn image, #bottom_img btn  + 코드 리팩토링 */
/* 모바일 창에서부터 가장 큰 창 순서로 반응형 작업해보기 */
body {
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  overflow: hidden;
}

/* @media screen and (max-width: 1023px) {
  타블렛 
} */
header {
  width: 100%;
}
.navbar {
  /* border: 3px solid red; */
  display: flex;
  flex-direction: column;
}

.info_header {
  /* border: 1px solid black; */
  /* width: 100%; */
  height: 100px;
  display: flex;
  position: relative;
  margin: 20px;
}
.hamburger_list {
  position: absolute;
  margin: 20px;
  right: 0;
  top: 0;
}
.info_logo {
  width: 50%;
  height: 100%;
  padding: 20px;
  /* background-color: red; */
}

.info_logo h1 {
  font-size: 32px;
  font-weight: bold;
  color: #333333;
  position: absolute;

  height: 32px;
  line-height: 32px;
}

.info_menu {
  width: 50%;
  height: 100%;

  /* background-color: yellow; */
}

.info_menu ul {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 250px;
  margin-right: 10px;
  display: flex;
  gap: 10px;
}

.info_menu ul li {
  flex-grow: 1;
}

.info_menu ul li i {
  font-size: 15px;
}

.info_menu ul li a {
  text-decoration: none;
  color: #9c9c9c;
}

.info_menu ul li:nth-child(1) a:hover,
.info_menu ul li:nth-child(2) a:hover {
  border-bottom: 1px solid #9c9c9c;
}

#cart {
  position: relative;
}

#cart #cart_badge {
  position: absolute;
  left: 11px;
  bottom: 10px;
  border-radius: 50%;
  background-color: plum;
  color: white;
  width: 10px;
  height: 10px;
  font-size: 3px;
  padding-left: 2px;
}

.menu_header {
  /* border: 2px solid aqua; */
  background-color: #fff;
  height: 30px;
  line-height: 30px;
  width: 100%;
  display: flex;
  /* align-items: center;
  position: relative; */
}

.hot_items,
.items {
  /* position: relative;
  margin-left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center; */
  width: 50%;
  height: 100%;

  /* border: 3px solid blue; */
  /* float: left; */
}
.hot_items ul,
.items ul {
  display: flex;
}
/* 
.items {
  margin-left: 0;
  width: 50%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  
  float: right;
} */

.hot_items li,
.items li {
  position: relative;
  /* border: 1px solid red; */
  text-align: center;
  width: 100%;
  height: 48px;
  font-size: 15px;
}

.hot_items li i {
  color: #797979;
  font-size: 23px;
}

.hot_items li a {
  /* border: 1px solid black; */
  text-decoration: none;
  color: #ff9995;
  display: inline-block;
  /* padding-top: 10px; */
}

.items li a {
  /* border: 1px solid black; */
  text-decoration: none;
  color: #797979;
  display: inline-block;
}

.items li a:hover {
  border-bottom: 1px solid #797979;
}

.dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 70%;
  left: 25%;
  padding-left: 0;
  border: 1px solid #c8c8c8;
  background-color: rgba(255, 255, 255, 0.4);
  width: 85px;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 8px 12px;
  display: none;
}

/* top버튼과 bottom 버튼 */
.scroll_btn {
  /* border: 3px solid black; */
  width: 50px;
  height: 110px;
  display: none;
  position: fixed;
  right: 10px;
  bottom: 5px;
}

#top_btn img,
#bottom_btn img {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  /* 모바일 */
  .container {
    width: 100vw;
  }
  .info_header {
    flex-direction: column;
    height: 150px;
    margin: 0;
  }
  .info_logo,
  .info_menu {
    width: 100%;
    padding: 20px;
  }

  .info_menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .info_menu ul {
    position: static;
    width: 100%;
    margin-right: 0;
  }
  .info_menu ul li {
    text-align: center;
  }
  .menu_header {
    margin-top: 20px;
    height: 80px;
    line-height: 40px;
    flex-direction: column;
  }
  .hot_items,
  .items {
    width: 100%;
    height: 50%;
  }
  .hot_items ul,
  .items ul {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  .hot_items ul li,
  .items ul li {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
}
