<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>쇼핑-7팀</title>
    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../elice-rabbit-favicon.png"
    />
    <!-- bulma css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
    ></script>
    <!-- 커스텀 css, js -->
    <!-- <link rel="stylesheet" href="./home.css" /> -->
    <!-- <link rel="stylesheet" href="./header.css" /> -->
    <!-- <link rel="stylesheet" href="./imageSlider.css" />
    <link rel="stylesheet" href="./footer.css" /> -->
    <!-- <script src="./home.js" type="module" defer></script> -->
    <!-- <script src="./imageSlider.js" defer></script> -->

    <link rel="stylesheet" href="./header.css" />
    <script defer src="./header.js" type="module"></script>
  </head>
  <body>
    <!-- 헤더 -->
    <!-- <div class="container"> -->
    <!-- <header> -->
    <!-- <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="info_header">
        <div class="info_logo">
          <a href=""><h1>Book Store 7</h1></a>
        </div>
      </div>

      <div class="menu_header">
        <ul class="category">
          <li id="dropmenu">
            <a href="" id="li_hover">국내도서</a>
            <ul class="dropdown">
              <li><a href="">소설</a></li>
              <li><a href="">경영/경제</a></li>
              <li><a href="">에세이</a></li>
            </ul>
          </li>
          <li><a href="" id="li_hover">해외도서</a></li>
          <li><a href="" id="li_hover">eBook</a></li>
          <li><a href="" id="li_hover">음반</a></li>
          <li><a href="" id="li_hover">이벤트</a></li>
        </ul>
        <div class="search_bar_info_menu">
          <div class="search_bar">
            <input class="searchInput" type="search" placeholder="검색" />
            <div id="searching">
              <a href=""><i class="fa-solid fa-magnifying-glass"></i></a>
            </div>
          </div>

          <ul class="info_menu">
            <li class="show"><a href="/register">회원가입</a></li>
            <li class="show"><a href="/login">로그인</a></li>
            <li class="none"><a href="/account">계정관리</a></li>
            <li class="none"><a href="" id="logout">로그아웃</a></li>
            <li>
              <a href=""><i class="fa-solid fa-user"></i></a>
            </li>
            <li>
              <div id="cart">
                <div id="cart_badge">0</div>
                <a href="/cart"><i class="fa-solid fa-cart-shopping"></i></a>
              </div>
            </li>
            <li>
              <a href=""><i class="fa-solid fa-heart"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </nav> -->
    <!-- </header> -->
    <!-- </div> -->
  </body>
</html>
