<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>쇼핑-7팀</title>
    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/elice-rabbit-favicon.png"
    />
    <!-- bulma css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
    ></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="home.css" />
    <link rel="stylesheet" href="header.css">
    <script src="home.js" type="module" defer></script>
    <script src="header.js" defer></script>
  </head>
  <body>
    <!-- 헤더 -->
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="info_header">
        <div class="info_logo"><a href=""><h1>SHOP 7</h1></a></div>
        <ul class="info_menu">
          <li><a href="">로그인</a></li>
          <li><a href="">회원가입</a></li>
          <li><a href=""><i class="fa-solid fa-user"></i></a></li>
          <li><a href=""><i class="fa-solid fa-cart-shopping"></i></a></li>
          <li><a href=""><i class="fa-solid fa-heart"></i></a></li>
        </ul>
      </div>
      <div class="menu_header">
        <ul class="hot_items">
          <li><a href=""><i class="fa-solid fa-bars"></i></a></li>
          <li><a href="">베스트</a></li>
          <li><a href="">여름신상</a></li>
          <li><a href="">자체제작</a></li>
          <li><a href="">브랜드</a></li>
          <li><a href="">이벤트</a></li>
        </ul>
        <ul class="items">
          <li><a href="">무료배송</a></li>
          <li><a href="">원피스</a></li>
          <li><a href="">블라우스</a></li>
          <li><a href="">티셔츠</a></li>
          <li><a href="">바지</a></li>
          <li><a href="">스커트</a></li>
          <li><a href="">악세사리</a></li>
        </ul>
      </div>
    </nav>

    <div class="div-container">
      <div class="landing" id="landingDiv">
        <h1>랜딩 페이지</h1>
      </div>
      <div class="greeting" id="greetingDiv">
        <h1>안녕하세요!</h1>
      </div>
    </div>

  </body>
</html>
