<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>쇼핑-7팀</title>
    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../elice-rabbit-favicon.png"
    />
    <!-- bulma css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
    ></script>
    <!-- 커스텀 css, js -->
    <link rel="stylesheet" href="../commonStyle.css" />
    <script defer src="./imageSlider.js"></script>
    <link rel="stylesheet" href="./imageSlider.css" />

    <!-- template 파일에 header, scrollbtn, footer 모두 뿌려주는 코드 있음 -->
    <script defer src="./template.js" type="module"></script>
    <link rel="stylesheet" href="./template.css" />
  </head>
  <body>
    <div class="container">
      <div class="account">
        <header>
          <!-- 여기에 header 삽입됨 -->
        </header>

        <div class="scroll_btn">
          <!-- 여기에 scroll_btn 삽입됨 -->
        </div>

        <div class="slider-wrap" id="slider-wrap">
          <!-- 여기에 image-slider 삽입됨 -->
        </div>

        <footer>
          <!-- 여기에 footer 삽입됨 -->
          <!-- <div class="footer-list notice">
            <div class="footer-subtitle">Notice</div>
            <div class="footer-rows">
              <span>8주차 프로젝트 교육 만족도조사 실시</span>
            </div>
            <div class="footer-rows">
              <span>협업 노하우&에티켓 페이지 안내</span>
            </div>
            <div class="footer-rows">
              <span>프론트엔드 첫 오피스아워 만족도 조사</span>
            </div>
            <div class="footer-rows">
              <span>백엔드 첫 오피스아워 만족도 조사</span>
            </div>
            <div class="footer-rows">
              <span>7주차 교육 만족도 조사 안내 리마인드 </span>
            </div>
          </div>
          <div class="footer-list madeBy">
            <div class="footer-subtitle">Made By</div>
            <div class="footer-rows">
              <span>김지환</span>
              <span>
                <a href="https://github.com/shinbian11" target="_blank">
                  <img src="./icon/github.svg" alt="" />
                </a>
              </span>
              <span>
                <a href="https://shinbian11.tistory.com/" target="_blank">
                  <img src="./icon/tistory.svg" alt="" />
                </a>
              </span>
              <span class="icon">
                <a
                  href="http://shinbian11.kdt-gitlab.elice.io/produce-myself/"
                  target="_blank"
                >
                  <i class="fas fa-lg fa-info-circle"></i>
                </a>
              </span>
            </div>
            <div class="footer-rows">
              <span>김범석</span>
            </div>
            <div class="footer-rows">
              <span>김세희</span>
            </div>
            <div class="footer-rows">
              <span>여은지</span>
            </div>
            <div class="footer-rows">
              <span>정범석 </span>
            </div>
          </div>
          <div class="footer-list aboutElice">
            <div class="footer-subtitle">About Elice</div>
            <div class="footer-rows">
              <span>
                주소 : 대전광역시 유성구 문지로 193 KAIST 캠퍼스 진리관 T 201호
              </span>
            </div>
            <div class="footer-rows">
              <span>대표자 김재원</span>
            </div>
            <div class="footer-rows">
              <span>이메일 contact@elice.io</span>
            </div>
            <div class="footer-rows">
              <span>
                <a
                  href="https://www.facebook.com/elice.coding/"
                  target="_blank"
                >
                  Move to Elice Facebook
                </a>
              </span>
            </div>
            <div class="footer-rows">
              <span>
                <a
                  href="https://www.youtube.com/channel/UCTok20p3EzAjTJWV8SJM9Gw"
                  target="_blank"
                  >Move to Elice Youtube
                </a>
              </span>
            </div>
          </div> -->
        </footer>
      </div>
    </div>
  </body>
</html>
