<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>쇼핑-7팀</title>
    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../elice-rabbit-favicon.png"
    />
    <!-- bulma css -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
    ></script>
    <!-- 커스텀 css, js -->
    <!-- <link rel="stylesheet" href="./home.css" /> -->
    <!-- <link rel="stylesheet" href="./header.css" /> -->
    <!-- <script src="./home.js" type="module" defer></script> -->
    <script defer src="./header.js" type="module"></script>
    <script defer src="./scrollBtn.js" type="module"></script>
    <script defer src="./imageSlider.js"></script>
    <script defer src="./footer.js" type="module"></script>
    <link rel="stylesheet" href="./header.css" />
    <link rel="stylesheet" href="./scrollBtn.css" />
    <link rel="stylesheet" href="./imageSlider.css" />
    <link rel="stylesheet" href="./footer.css" />
  </head>
  <body>
    <div class="container">
      <header>
        <!-- 여기에 header 삽입됨 -->
      </header>

      <div class="scroll_btn">
        <!-- <div id="top_btn"><img src="./img/top_btn.png" alt="top_btn" /></div>
        <div id="bottom_btn">
          <img src="./img/bottom_btn.png" alt="bottom_btn" />
        </div> -->
      </div>

      <!-- image-slider -->

      <div class="slider-wrap" id="slider-wrap">
        <ul class="slider" id="slider">
          <li>
            <img src="./img/red.jpeg" />
          </li>
          <li>
            <img src="./img/orange.jpeg" />
          </li>
          <li>
            <img src="./img/yellow.jpeg" />
          </li>
          <li>
            <img src="./img/green.jpeg" />
          </li>
          <li>
            <img src="./img/blue.jpeg" />
          </li>
        </ul>

        <div class="btn next" id="next">
          <i class="fa fa-arrow-right"></i>
        </div>
        <div class="btn previous" id="previous">
          <i class="fa fa-arrow-left"></i>
        </div>

        <div class="indicator-wrap" id="indicator-wrap">
          <ul></ul>
        </div>

        <div class="control-wrap play" id="control-wrap">
          <i class="fa fa-pause" id="pause" data-status="pause"></i>
          <i class="fa fa-play" id="play" data-status="play"></i>
        </div>
      </div>

      <div style="width: 100px; height: 2000px; background-color: red"></div>
      <footer>
        <!-- 여기에 footer 삽입됨 -->
      </footer>
    </div>
  </body>
</html>
